.venv/
venv/

__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.coverage

.env

pocketsmart.db
*.sqlite3

app/static/uploads/*

!app/static/uploads/.gitkeep

.vscode/

.DS_Store